Source: ros-hydro-schunk-modular-robotics
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/schunk_modular_robotics
Standards-Version: 3.9.2

Package: ros-hydro-schunk-modular-robotics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-schunk-description, ros-hydro-schunk-libm5api, ros-hydro-schunk-powercube-chain, ros-hydro-schunk-sdh, ros-hydro-schunk-simulated-tactile-sensors
Description: This stack includes packages that provide access to the Schunk hardware through ROS messages, services and actions.
